$backgroundButton: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);


$footerBackground: #353535;
$locationBackground: #EAEAEA;
$backgroundIcon:#99E2D0;
$color:#101010;
$backgroundMain: #F3F3F3;

$buttonShadow: 0px 4px 10px 0px #00000040;
