* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #101010;
  font-family: "Roboto";
}

html {
  background: white;
}

body {
  max-width: 1440px;
  margin: auto;
}

.header {
  width: 100%;
  height: 63px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header_returnLink {
  width: 17.2px;
  height: 16px;
  color: #353535;
  position: absolute;
  background-color: #fff;
  top: 22px;
  left: 20px;
}
.header_logo {
  width: 162px;
  height: 44px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  background-color: #fff;
}

.restaurantPic {
  height: 275px;
  width: 100%;
}
.restaurantPic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 40px;
  position: relative;
  top: -55px;
  z-index: 2;
  padding: 15px;
  padding-top: 32px;
}
.menu__heading {
  margin: auto;
  width: 100%;
  height: 27px;
  display: flex;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
}
.menu__heading__text {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
}
.menu__heading__icon {
  width: 24px;
  height: 22px;
  font-size: 25px;
  margin-top: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__heading__icon .fa-heart {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.menu__heading__icon:hover .fa-heart {
  opacity: 0;
}
.menu__heading__icon path {
  fill: url(#heartHover);
}
.menu__heading__icon svg {
  position: absolute;
  top: -0.5px;
  right: 0px;
  left: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.menu__heading__icon svg:hover {
  opacity: 1;
  transform: scale(1.05);
  left: 1px;
}
.menu_sectionArticle {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 42px;
}
.menu_sectionArticle-height {
  height: 339px;
}
.menu_sectionArticle_title {
  height: 42px;
  width: 275px;
}
.menu_sectionArticle_title h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu_sectionArticle_title hr {
  margin-top: 5px;
  width: 40px;
  border: 3px solid #99E2D0;
}
.menu_sectionArticle_items {
  width: 100%;
  height: 69px;
  border-radius: 15.04px;
  background-color: #fff;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  animation: opacity 1s both;
}
.menu_sectionArticle_items_description {
  width: 70%;
  height: 100%;
  padding: 9px;
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
}
.menu_sectionArticle_items_description_text {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu_sectionArticle_items_description h3, .menu_sectionArticle_items_description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_sectionArticle_items_description_price {
  width: 35px;
  height: 100%;
  padding-left: 5px;
  display: flex;
  align-items: end;
}
.menu_sectionArticle_items_selectButton {
  background-color: #99E2D0;
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}
.menu_sectionArticle_items .fa-circle-check {
  opacity: 0;
  transition: all 500ms 140ms ease-in-out;
}
.menu_sectionArticle_items:hover .fa-circle-check {
  opacity: 1;
  transform: rotate(360deg);
}
.menu_sectionArticle_items:hover .menu_sectionArticle_items_selectButton {
  width: 59px;
}
.menu_sectionArticle .duration2 {
  animation-delay: 0.1s;
}
.menu_sectionArticle .duration3 {
  animation-delay: 0.3s;
}
.menu_sectionArticle .duration4 {
  animation-delay: 0.5s;
}
.menu_sectionArticle .duration5 {
  animation-delay: 0.7s;
}
.menu_sectionArticle .duration6 {
  animation-delay: 0.9s;
}
.menu_sectionArticle .duration7 {
  animation-delay: 1s;
}
.menu_sectionArticle .duration8 {
  animation-delay: 1.2s;
}
.menu_sectionArticle .duration9 {
  animation-delay: 1.4s;
}
.menu_button {
  width: 186px;
  height: 50px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: 800ms ease-in-out;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.menu_button:hover, .menu_button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.footer-margin {
  margin-top: -80px;
  position: relative;
  z-index: 3;
}
.footer_logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer_link {
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
.footer_link_text {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 7px;
}
.footer_link_text--margin div {
  margin-left: 6px;
}
.footer_link_text div {
  color: #fff;
  font-weight: bold;
}

@media all and (min-width: 757px) {
  .menu {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__heading {
    justify-content: center;
    gap: 20px;
  }
  .menu_sectionArticle {
    width: 80%;
    gap: 12px;
  }
  .menu_sectionArticle_items_description {
    padding: 7px 15px;
  }
}
@media all and (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: right;
  }
  .footer_link {
    width: 631px;
    height: 20px;
    flex-direction: row;
    gap: 17px;
  }
}/*# sourceMappingURL=restaurants.css.map */